h2 {
  color: white;
}

h3 {
  color: white;
}

.cardBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.cardImg {
  height: 250px;
}

.cardName {
  color: white;
  text-align: center;
}
